Source: sidux-art-xfce
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-xfce/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-xfce/trunk/

Package: sidux-art-xfce
Architecture: all
Depends: sidux-art-xfce-ourea | sidux-art-xfce-theme 
Description: Xfce theme for sidux
 Virtual package providing Xfce themes used in the 
 current sidux release

Package: sidux-settings-xfce
Depends: sidux-art-xfce (= ${source:Version})
Architecture: all
Description: provide default Xfce settings for sidux
 Provides default settings for appearance and applications of the Xfce
 desktop in sidux.
